body {
    font-family: Arial, Helvetica, serif;
}

label, button {
    display: block;
    margin-top: 1rem;
}

input {
    margin-top: .3rem;
    height: 2rem;
    display: block;
    margin-bottom: 0;
}

span {
    color: red;
    font-size: .7rem;
}
